@charset "UTF-8";


/* form styling */

select:focus, select:active, input:focus, input:active, input:focus + label, input:active + label, label[for]:focus, label[for]:active {
color: #000000 !important;
background-color: #fff79c !important;}

#formcol1 input.reqfield {
	background:rgb(179, 238, 174);
}


#wrapper {
	width: 60%;
	margin-left:4%;
}

div#formcol1 {
	float:left;	
	width: 100%;
}

#formcol1 label {
	text-align: right;
	margin-right: .3em;
	margin-bottom: 1em;
	width: 5.1em;  /* I made this deliberately wide – come up with your own optimal width */
	display: inline-block; /* width will not work for “inline” elements such as “label”. Therefore we need to set it to “inline-block” */
}

legend {
	font-weight: bold;
}

input[type="submit"] {
	background-color: rgb(179, 238, 174);
	font-weight: bold;
	height: 2em;
}

#formcol1 p {
	font-style: italic;
}

#formcol1 li {   
	list-style:none;
}



/* end of form css */
	
